[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Klippr
Exec=/usr/bin/invoker --type=d --splash=/opt/klippr/qml/klippr/gfx/klippr-splash.jpg --splash-landscape=/opt/klippr/qml/klippr/gfx/klippr-splash-landscape.jpg -s /opt/klippr/bin/klippr
Icon=/usr/share/icons/hicolor/80x80/apps/klippr80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
